#state_ModsState {
    .modsGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5em;

        .noMods {
            grid-template-columns: unset;
            place-items: center;
        }
    }

    .mod {
        display: flex;
        flex-direction: column;
        padding: 0.6em;
        gap: 0.3em;
        background-color: $mainBgColor;
        @include S(border-radius, 0.75 * $globalBorderRadius);
        @include PlainText;

        .title b {
            @include Text;
        }

        .advanced {
            @include SuperSmallText;
        }

        @include DarkThemeOverride {
            background-color: $darkModeGameBackground;
        }
    }
}
