$gameStateTransition: 0.2s ease-out;

@mixin StateAnim($properties...) {
    transition: all $gameStateTransition;
    transition-property: $properties;
}

.gameState {
    @include Text;

    @include StateAnim(opacity, transform, filter);
    opacity: 0;

    &.arrived {
        opacity: 1;
        filter: none !important;
        transform: none;
    }
}
