$globalBorderRadius: 6px;

// When to reduce control elements size for small devices
$layoutExpandMinWidth: 340px;

// Font sizes and line heights
$superHeadingFontSize: 25px;
$superHeadingLineHeight: 24px;

$breakTooltipShowStatsPx: 1023px;

$headingFontSize: 19px;
$headingLineHeight: 21px;

$textFontSize: 16px;
$textLineHeight: 21px;

$plainTextFontSize: 13px;
$plainTextLineHeight: 17px;

$superDuperSmallTextFontSize: 8px;
$superDuperSmallTextLineHeight: 9px;
$superSmallTextFontSize: 10px;
$superSmallTextLineHeight: 13px;
$buttonFontSize: 14px;
$buttonLineHeight: 18px;

// Main background color
$mainBgColor: #dee1ea;

// Accent colors

$accentColorBright: #e1e4ed;
$accentColorDark: #7d808a;
$colorGreenBright: #66bb6a;
$colorBlueBright: rgb(74, 151, 223);
$colorRedBright: #ef5072;
$colorOrangeBright: #ef9d50;
$themeColor: #393747;
$ingameHudBg: rgba(#33343b, 0.9);
$modsColor: rgb(214, 60, 228);

$text3dColor: #f4ffff;

$darkModeGameBackground: #535866;
$darkModeControlsBackground: darken($darkModeGameBackground, 5);

// Dialog properties
$modalDialogBg: rgba(160, 165, 180, 0.8);
$dialogBgColor: lighten($mainBgColor, 10);

$lightFontWeight: normal;
$boldFontWeight: 600;

$iconSizeSmall: 30px;
$iconSizeMedium: 40px;
$iconSizeLarge: 60px;

// Poppins 500
// Rubik 400
// Cairo 400
// Viga 400
// Sniglet 400

$mainFont: "GameFont", sans-serif;
// $mainFont: "DK Canoodle";
// $mainFont: "MADE Florence Sans";
$numberFont: $mainFont;
$textFont: $mainFont;

@mixin DebugText($color) {
    // font-size: 3px;
    // &,
    // * {
    //   color: $color !important;
    // }
}

@mixin SuperDuperSmallText {
    font-size: D($superDuperSmallTextFontSize);
    line-height: D($superDuperSmallTextLineHeight);
    @include DebugText(green);
}

@mixin SuperSmallText {
    font-size: D($superSmallTextFontSize);
    line-height: D($superSmallTextLineHeight);
    @include DebugText(green);
}

@mixin PlainText {
    font-size: D($plainTextFontSize);
    line-height: D($plainTextLineHeight);
    @include DebugText(red);
}

@mixin Text {
    font-size: D($textFontSize);
    line-height: D($textLineHeight);
    @include DebugText(blue);
}

@mixin Heading {
    font-size: D($headingFontSize);
    line-height: D($headingLineHeight);
    @include DebugText(yellow);
}

@mixin SuperHeading {
    font-size: D($superHeadingFontSize);
    line-height: D($superHeadingLineHeight);
    @include DebugText(orange);
}

@mixin ButtonText {
    font-size: D($buttonFontSize);
    line-height: D($buttonLineHeight);
    @include DebugText(purple);
}
